docker/data/flows.json
[{"id":"ab814894.85e578","type":"tab","label":"Flow 1"},{"id":"7d673ec8.7d551","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"custom1","default":"#4B7930","baseColor":"#9ac010","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#9ac010","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#9ac010","edited":true},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#9ac010","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":15,"cy":15,"px":10,"py":10}}},{"id":"e127f9c8.2d9f28","type":"modbus-client","z":"","name":"test1","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.88.29","tcpPort":"1502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"c1ef9bb5.46a578","type":"ui_tab","z":"","name":"Home","icon":""},{"id":"683a7610.8e9d08","type":"ui_group","z":"","name":"Prevención de CO2","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"71fb4af1.7fef44","type":"ui_group","z":"","name":"Potencia actual","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"c500fea.fdc8c","type":"ui_group","z":"","name":"Lugar","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"1307da70.d4bb96","type":"ui_group","z":"","name":"Información sobre la planta","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"2c618c0d.8fca14","type":"ui_group","z":"","name":"Estado Actual","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"23d2851c.0d486a","type":"ui_group","z":"","name":"Energía","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"aa5354cc.5e7b08","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"a49f56d3.e3a128","type":"ui_group","name":"Group 1","tab":"aa5354cc.5e7b08","order":1,"disp":true,"width":6},{"id":"98f4f6e1.1000c8","type":"modbus-getter","z":"ab814894.85e578","name":"reg3","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"40000","quantity":"2","server":"e127f9c8.2d9f28","x":330,"y":160,"wires":[["6daea132.a4072"],["2e34359.fbe6cca"]]},{"id":"5693dc3a.b79494","type":"inject","z":"ab814894.85e578","name":"pull","topic":"test1","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"x":124.5,"y":224,"wires":[["98f4f6e1.1000c8"]]},{"id":"6daea132.a4072","type":"debug","z":"ab814894.85e578","name":"1111","active":true,"console":"false","complete":"payload","x":590,"y":80,"wires":[]},{"id":"2e34359.fbe6cca","type":"function","z":"ab814894.85e578","name":"","func":"msg.payload = msg.values[0] + msg.values[1]\nmsg.co2 = msg.values[0]*0.1\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["c4fea709.401318","21b4d0fa.c6d64","8fdf47a7.9f4f18"]]},{"id":"c4fea709.401318","type":"debug","z":"ab814894.85e578","name":"222","active":true,"console":"false","complete":"true","x":670,"y":200,"wires":[]},{"id":"21b4d0fa.c6d64","type":"ui_gauge","z":"ab814894.85e578","name":"potencia","group":"71fb4af1.7fef44","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"Watts","format":"{{msg.payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":788.5,"y":344,"wires":[]},{"id":"8fdf47a7.9f4f18","type":"ui_template","z":"ab814894.85e578","group":"683a7610.8e9d08","name":"co2","order":0,"width":0,"height":0,"format":"<style>\n .card-co2 {\n    background-image: url(\"http://socialskillsdenver.com/wp-content/uploads/2014/08/go_green_w_rgb.png\");\n    background-size: cover;\n\n  background-color: #999999; }\n</style>\n<md-card>\n        <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-headline\"><div ng-bind-html=\"msg.co2\"></div></span>\n            <span class=\"md-subhead\">Tons</span>\n          </md-card-title-text>\n          <md-card-title-media>\n            <div class=\"md-media-lg card-media card-co2\"></div>\n          </md-card-title-media>\n        </md-card-title>\n      </md-card>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":240,"wires":[[]]},{"id":"e8ae374c.910498","type":"ui_template","z":"ab814894.85e578","group":"c500fea.fdc8c","name":"map","order":0,"width":"6","height":"4","format":"    <style>\n      /* Always set the map height explicitly to define the size of the div\n       * element that contains the map. */\n      #map {\n        height: 100%;\n      }\n\n    </style>\n    <div id=\"map\"></div>\n          <script>\n      function initMap() {\n        var map = new google.maps.Map(document.getElementById('map'), {\n          zoom: 15,\n          center: {lat: -34.49, lng: -58.85},\n          disableDefaultUI: true\n        });\n      }\n    </script>\n    <script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key=AIzaSyCFBPTZg-z6XJFr5zUPN8eEmGWs50az9Wk&signed_in=true&callback=initMap\">\n    </script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":671.5,"y":587,"wires":[[]]},{"id":"2451168d.4efd9a","type":"ui_template","z":"ab814894.85e578","group":"1307da70.d4bb96","name":"info","order":0,"width":0,"height":0,"format":"<style>\n .card-info {\n    background-image: url(\"https://europeangreens.eu/sites/europeangreens.eu/files/styles/medium/public/ICONS_transp_ClimateEnergy_for-Y-bg.png?itok=oKI71vVW\");\n    background-size: cover; }\n</style>\n<md-card>\n        <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-headline\">10,44 kWp</span>\n            <span class=\"md-subhead\">Potencia de la planta</span>\n           <span class=\"md-headline\">14/10/2017</span>\n            <span class=\"md-subhead\">Puesta en marcha</span>\n          </md-card-title-text>\n          <md-card-title-media>\n            <div class=\"md-media-lg card-media card-info\"></div>\n          </md-card-title-media>\n        </md-card-title>\n      </md-card>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":679.5,"y":440,"wires":[[]]},{"id":"cc5761ad.79931","type":"ui_template","z":"ab814894.85e578","group":"2c618c0d.8fca14","name":"state","order":0,"width":0,"height":0,"format":"<style>\n .card-state {\n    background-image: url(\"http://www.montgomerycountymd.gov/DGS-OES/Resources/Images/Icons/GreenTowerIcon.png\");\n    background-size: cover; }\n</style>\n<md-card>\n        <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-headline\">Utility grid</span>\n            <span class=\"md-subhead\"> connected</span>\n          </md-card-title-text>\n          <md-card-title-media>\n            <div class=\"md-media-lg card-media card-state\"></div>\n          </md-card-title-media>\n        </md-card-title>\n      </md-card>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":765.5,"y":498,"wires":[[]]},{"id":"a28a1235.14e06","type":"ui_template","z":"ab814894.85e578","group":"23d2851c.0d486a","name":"energy","order":0,"width":0,"height":0,"format":"<style>\n .card-energy {\n    background-image: url(\"https://smartworldenergy.com/image/122233965.png\");\n    background-size: cover; }\n</style>\n<md-card>\n        <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-headline\">6938 Wh</span>\n            <span class=\"md-subhead\">Hoy</span>\n          </md-card-title-text>\n          <md-card-title-media>\n            <div class=\"md-media-lg card-media card-energy\"></div>\n          </md-card-title-media>\n        </md-card-title>\n      </md-card>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":477.5,"y":664,"wires":[[]]}]